# Prerequisites
*.d

# Object files
*.obj

# Linker output
*.exp

# Precompiled Headers
*.pch

# Libraries
*.lib

# Shared objects (inc. Windows DLLs)
*.dll

# Executables
*.exe

# Debug files
*.dSYM/


# Kernel Module Compile Results

# Dirs
./data/*
./local_data/*
./plot/*
